body {
    margin: 0;
    width: 300px;
    height: 300px;
    font-family: Segoe UI;
    background: linear-gradient(135deg, #60efff 0%, #0061ff 100%);
    overflow: hidden;
}


/* zone centrale */
#main {
    position: absolute;
    top: 28px;
    left: 28px;
    width: 244px;
    height: 244px;
    border-radius: 13px;
    background: #FFF;
    box-shadow: 0px 0px 14.3px 0px rgba(0, 0, 0, 0.53);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;
    font-style: normal;
    line-height: normal;
}


p {
    color: #000;
    margin-left: 18px;
    margin-right: 18px;
    margin-block-start: 0px;
    margin-block-end: 0px;
    font-size: 15px;
    font-weight: 400;
}

h1 {
    color: #000;
    margin-block-start: 0px;
    margin-block-end: 0.67em;
    font-size: 18px;
    font-weight: 700;
}

a {  
    font-size: 15px;
    font-weight: 400; 
}

.hidden {
    display: none;
}



/* animations */
#powerup {
    position: absolute;
    width: 300px;
    height: 100px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(255, 255, 255, 0.69) 49.48%, rgba(255, 255, 255, 0.00) 100%);
    bottom: -100px;
    transition: bottom .6s ease-in-out;
}

#downgrade {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    opacity: 1;
    background: linear-gradient(135deg, #AFAFAF 0%, #7F7F7F 100%);
    transition: opacity .4s ease-in-out;
}



/* The switch - the box around the slider */
.switch {
    position: relative;
    /* display: none; */
    width: 60px;
    height: 34px;
    /* margin-top: 20px; */
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }